<!-- ABOUT -->
<div class="arlo_tm_section relative" id="about">
    <div class="arlo_tm_about_wrapper_all">
        <div class="container">
            <div class="arlo_tm_title_holder">
                <h3>{{page.section1.header}}</h3>
                <span>{{page.section1.subheader}}</span>
            </div>
            <div class="arlo_tm_about_wrap">
                <div class="author_wrap">
                    <div class="leftbox">
                        <div class="about_image_wrap parallax" data-relative-input="true">
                            <div class="image layer" data-depth="0.1">
                                <img src="img/about/550x640.jpg" alt="" />
                                <div class="inner" data-img-url=""></div>
                            </div>
                            <div class="border layer" data-depth="0.2">
                                <img src="img/about/550x640.jpg" alt="" />
                                <div class="inner"></div>
                            </div>
                        </div>

                    </div>
                    <div class="rightbox">
                        <div class="arlo_tm_mini_title_holder">
                            <h4>{{page.section1.greeting}} <span class="arlo_tm_animation_text_word"></span></h4>
                        </div>
                        <div class="definition">
                            <p>{{page.section1.bio}}</p>
                        </div>
                        <div class="about_short_contact_wrap">
                      
                        </div>
                        <div class="buttons_wrap">
                            <ul>
                                <li>
                                    <a target="_blank" href="{{page.section1.resume.url}}"><span>{{page.section1.resume.button}}</span></a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ABOUT -->