<div class="arlo_tm_section relative" id="portfolio">
    <div class="arlo_tm_portfolio_wrapper_all">

        <!-- PORTFOLIO FILTER -->
        <div class="arlo_tm_second_portfolio">
        <div class="container">
            <div class="arlo_tm_portfolio_wrap">
                <div class="arlo_tm_title_holder portfolio">
                    <h3>Portfolio</h3>
                    <span>My creative works</span>
                </div>
                <div class="arlo_tm_portfolio_titles"></div>
                <ul class="arlo_tm_portfolio_filter">
                    <li><a href="#" class="current" data-filter="*">All</a></li> 
                    <li><a href="#" data-filter=".design">College Projects</a></li>
                    <li><a href="#" data-filter=".photography">Freelance Projects</a></li>
                    <li><a href="#" data-filter=".development">Co-op Projects</a></li>
                </ul>
                <ul class="arlo_tm_portfolio_list gallery_zoom">
                    <li class="photography">
                        <div class="entry arlo_tm_portfolio_animation_wrap" data-title="FU Associates Website Project" data-category="Web Design">
                            <a target="_blank" href="http://www.fuassociates.com">
                                <img src="img/portfolio/600x600.jpg" alt="" />
                                <div class="arlo_tm_portfolio_image_main" data-img-url="https://lh3.googleusercontent.com/iVi0GW5R1JKQjGzHDfw4u9oBvJmnZlw6K9IxIG-vKbX1gLG9u8EUHcjd63W-TNmmYvF7nSPMyZrCTH_Xl_xM5HcU=s1920"></div>
                            </a>
                        </div>
                    </li>
                    <li class="design">
                        <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Swift Game Project" data-category="Web Design">
                            <a target="_blank" href="https://lh3.googleusercontent.com/dMJ-GVvZVGf-fGqyyyLMKyHQiKws93xA3uvo0erxLgeNiMIsnzZl1oOlwlt_C1QZpu8ta9IFFitg-VzcUvEbL1E4UA=s1920">
                                <img src="img/portfolio/600x600.jpg" alt="Swift Game Project Image" />
                                <div class="arlo_tm_portfolio_image_main" data-img-url="https://lh3.googleusercontent.com/zTjyJ6dnvXUtHvKQ78a2-MCejlnKH95pGKUcplh3euIiXzvN7n9Bg9D_fye3BSEBoY2V4k5iq_GgmNTpio-fTdC7=s1480"></div>
                            </a>
                        </div>
                    </li>
                    <li class="photography">
                        <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Cellphone Store ReactJS Project" data-category="Web Design">
                            <a target="_blank" href="https://cart-app-phone.herokuapp.com">
                                <img src="img/portfolio/600x600.jpg" alt="" />
                                <div class="arlo_tm_portfolio_image_main" data-img-url="https://lh3.googleusercontent.com/da49V-C5WHA66swO-UUvMNtCnA7EnLB-Ejz8ND5vwR_lF5_8HAkcaUn7Wimy3P-oBUJKtpWPLr-Xqa8A7zMKcxSSzw=s1920"></div>
                            </a>
                        </div>
                    </li>
                    <li class="design">
                        <div class="entry arlo_tm_portfolio_animation_wrap" data-title="HTML5 Web Design Project" data-category="Photography">
                            <a target="_blank" href="https://retromoto.azurewebsites.net">
                                <img src="img/portfolio/600x600.jpg" alt="" />
                                <div class="arlo_tm_portfolio_image_main" data-img-url="https://lh3.googleusercontent.com/Z0xuusO4RWqpGGGNeU2XJOqd6_3SiaLTuOPy8cG8m2mA7gf54RX8v3j3mF0TqYHzYqIXeKdmbt8S1Kzx1S-03H_FBg=s1920"></div>
                            </a>
                        </div>
                    </li>
                    <li class="design">
                        <div class="entry arlo_tm_portfolio_animation_wrap" data-title="JAVA Calculator Project" data-category="Development">
                            <a target="_blank" href="https://lh3.googleusercontent.com/s3vGGLumOS3tFO33RQw92trz0iD7ZCUglTz-oEewrHm0iqLBZIB79ATs17jQOM6VFsJ1Uu7yTa_NBQ19Wlq3QLmk0A=s1920">
                                <img src="img/portfolio/600x600.jpg" alt="" />
                                <div class="arlo_tm_portfolio_image_main" data-img-url="https://lh3.googleusercontent.com/JydBwWoIN3PgTB9DeDGA4RHrRiu714zvqJ7BZVHVoeHQs9r78MLFGmYd6I74IrdVj5qxB0GTLupci2HbCs_paGEq6Q=s1920"></div>
                            </a>
                        </div>
                    </li>
                    <li class="design">
                        <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Voice Changer iOS App" data-category="Photography">
                            <a target="_blank" href="https://lh3.googleusercontent.com/lpDDmivge_Yi-NPOjF6N-shdNR5qQAgmaW_j-WuqhdZdKfBkqF3ES3CvuDIoDOUtkeugups6FaNmYsnOlZrHQ7UeIA=s1920">
                                <img src="img/portfolio/600x600.jpg" alt="" />
                                <div class="arlo_tm_portfolio_image_main" data-img-url="https://lh3.googleusercontent.com/xGhSKXyKkJgQO2Mx2FY98PQD-RtMSp2RJ46bb1Zy2FT8ygvwo9PCzARe88LYUuaZAir46ZOf8e14NsRTCm0jRdhDPQ=s1480"></div>
                            </a>
                        </div>
                    </li>
                    <li class="development">
                        <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Suzuki Canada Web Application" data-category="Design">
                            <a target="_blank" href="https://lh3.googleusercontent.com/EM9FEIwM--RBoND4ARarrkZBUh5Au4lZYrasH3e_qb-zuwACoB4sz1w_n3tSEeCgkD9_qWIjKL5vQdPb0VC2PDmQjA=s1920">
                                <img src="img/portfolio/600x600.jpg" alt="" />
                                <div class="arlo_tm_portfolio_image_main" data-img-url="https://lh3.googleusercontent.com/EM9FEIwM--RBoND4ARarrkZBUh5Au4lZYrasH3e_qb-zuwACoB4sz1w_n3tSEeCgkD9_qWIjKL5vQdPb0VC2PDmQjA=s1920"></div>
                            </a>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <!-- /PORTFOLIO FILTER -->

    </div>
</div>