<div class="arlo_tm_section">
    <div class="arlo_tm_skills_wrap">
        <div class="container">
            <div class="inner_wrap">
                {{! <div class="leftbox">
                    
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since. Lorem Ipsum is simply.</p>
                </div> }}
                <div class="rightbox">
                    <div class="arlo_tm_mini_title_holder">
                        <h4>Working with these languages and technologies</h4>
                    </div>
                    <div class="progress_bar_wrap_total">
                        <div class="arlo_tm_progress_wrap" data-size="small" data-round="c" data-strip="off">
                            <div class="arlo_tm_progress" data-value="100" data-color="#000">
                                <span><span class="label">HTML5 and CSS</span><span class="number"></span></span>
                                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
                            </div>
                            <div class="arlo_tm_progress" data-value="100" data-color="#000">
                                <span><span class="label">SQL, PostgreSQL and NoSQL</span><span class="number"></span></span>
                                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
                            </div>
                            <div class="arlo_tm_progress" data-value="100" data-color="#000">
                                <span><span class="label">MongoDB</span><span class="number"></span></span>
                                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
                            </div>
                           
                            <div class="arlo_tm_progress" data-value="100" data-color="#000">
                                <span><span class="label">Ruby on Rails</span><span class="number"></span></span>
                                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
                            </div>
                             <div class="arlo_tm_progress" data-value="100" data-color="#000">
                                <span><span class="label">JavaScript</span><span class="number"></span></span>
                                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
                            </div>
                            
                            <div class="arlo_tm_progress" data-value="100" data-color="#000">
                                <span><span class="label">ExpressJS</span><span class="number"></span></span>
                                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
                            </div>
                            
                            <div class="arlo_tm_progress" data-value="100" data-color="#000">
                                <span><span class="label">ReactJS and NodeJS</span><span class="number"></span></span>
                                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
                            </div>
                            <div class="arlo_tm_progress" data-value="100" data-color="#000">
                                <span><span class="label">React Native</span><span class="number"></span></span>
                                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
                            </div>
                            <div class="arlo_tm_progress" data-value="100" data-color="#000">
                                <span><span class="label">GraphQL and REST</span><span class="number"></span></span>
                                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>